<div class="panel panel-info collapse in" id="panel_estoque_atual">
  <button type="button" class="close" data-toggle="collapse" data-target="#panel_estoque_atual" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <% if Product.all.any? %>
            <table class="table-bordered small">
              <thead>
              <tr>
                <th class="col-xs-1 col-sm-1 col-md-1">Estoque</th>
                <th class="col-xs-10 col-sm-10 col-md-9">Produto</th>
                <th class="col-xs-1 col-sm-1 col-md-2">Último Preço com desconto</th>
              </tr>
              </thead>
              <% Product.order(last_order_at: :desc).each do |product| %>
                  <tr>
                    <td class=""><%= display_stock(product.in_stock, product.unity) %></td>
                    <td class=""><%= product.full_name %></td>
                    <td class=""><%= "#{number_to_currency(product.last_price_with_discount)}/#{product.unity}" if product.last_price_with_discount %></td>
                  </tr>
              <% end %>
            </table>
        <% else %>
            Nenhuma venda registrada.
        <% end %>
      </div>
    </div>
  </div>
</div>