/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 //*= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "bootstrap-datepicker3";

//mudando a cor do bootstrap para azul
.navbar-custom {
  background-color:#0066CC;
  color:#ffffff;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color:#fff;
  padding-left:20px;
  padding-right:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #3385d6;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-custom .navbar-nav > li > a:focus {
  background-color: #3385d6;
  color: #ffffff;
}

.navbar-custom .navbar-brand {
  color:#eeeeee;
}
.navbar-custom .navbar-toggle {
  background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  background-color: #3385d6;
}
//mudando a cor do bootstrap para azul

@font-face {
  font-family: 'Glyphicons Halflings';
  src: asset-url('glyphicons-halflings-regular.eot');
  src: asset-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       asset-url('glyphicons-halflings-regular.woff') format('woff'),
       asset-url('glyphicons-halflings-regular.ttf') format('truetype'),
       asset-url('glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}